<div class="p-3">
  @if (showProjectionModeOption) {
  <div class="mb-3">
    <h4 class="fw-bold mb-3">Projecteur</h4>
    <div class="btn-group" role="group" aria-label="Type de jeu">
      <input type="radio" class="btn-check"
             name="type"
             id="projectionModePushedOnTop"
             autocomplete="off"
             [ngModel]="gameData.value().projectionMode"
             (ngModelChange)="onProjectionModeChange(ProjectionMode.PUSHED_ON_TOP)"
             [value]="ProjectionMode.PUSHED_ON_TOP">
      <label class="btn"
             [class.btn-primary]="gameData.value().projectionMode === ProjectionMode.PUSHED_ON_TOP"
             [class.btn-outline-secondary]="gameData.value().projectionMode !== ProjectionMode.PUSHED_ON_TOP"
             for="projectionModePushedOnTop">
        {{ ProjectionModeLabel[ProjectionMode.PUSHED_ON_TOP] }}
      </label>
      <input type="radio" class="btn-check"
             name="type"
             id="projectionModeNormal"
             autocomplete="off"
             [ngModel]="gameData.value().projectionMode"
             (ngModelChange)="onProjectionModeChange(ProjectionMode.NORMAL)"
             [value]="ProjectionMode.NORMAL">
      <label class="btn"
             [class.btn-primary]="gameData.value().projectionMode === ProjectionMode.NORMAL"
             [class.btn-outline-secondary]="gameData.value().projectionMode !== ProjectionMode.NORMAL"
             for="projectionModeNormal">
        {{ ProjectionModeLabel[ProjectionMode.NORMAL] }}
      </label>
    </div>
  </div>
  }
  <app-teams-parameters/>
</div>
