<div [ngStyle]="screenStyle()">
  <div class="main-container"
       [class.pushed-on-top]="projectionMode() === ProjectionMode.PUSHED_ON_TOP"
       [ngStyle]="containerStyle()">

    <!-- Décors de coin en fond : équipe A à gauche, équipe B à droite -->
    <app-team-layout class="layout layout-left" [team]="gameData().teamA" side="left"/>
    <app-team-layout class="layout layout-right" [team]="gameData().teamB" side="right"/>

    <div class="content">
      <div class="qr">
        @if (qrDataUrl()) {
          <img [src]="qrDataUrl()" alt="QR code de vote"/>
        }
      </div>
    </div>
  </div>
</div>
